<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="title" ngModel required #title="ngModel" placeholder="post title">
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
    <!-- Property binding ([value] =) -->
    <!-- <textarea rows="6" [value]="newPost" #postInput></textarea> -->
    <textarea matInput rows="6" name="content" ngModel required #content="ngModel" placeholder="post content"></textarea>
    <mat-error *ngIf="content.invalid">Please enter post</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save Post</button>
  </form>
</mat-card>
<!-- String Interpolation -->
<!-- <p>{{ newPost }}</p> -->

